<?xml version='1.0' encoding='utf-8'?>
<widget id="SwitchTestRGBLED" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>test</name>
    <description>
       test rgbled.
    </description>
    <author email="e880206@gmail.com" href="">
        KSVCS 036010 Switch
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.0" />
    <allow-navigation href="*" />
</widget>